.heading{
    /* border: 2px solid red; */
    width: fit-content;
    padding: 8px;
    /* border: 1px solid black; */
    font-size: larger;
}

.contact{
    background-color: rgb(173, 173, 212);
    padding: 8px;
    border-radius: 4px;
}

.us{
    background-color: rgb(66, 66, 165);
    padding: 8px;
    border-radius: 4px;
    color: white;
}